<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="../lib/vue.js" ></script>
	</head>
	<body>
		<div id="app">
			<input type="text" v-model="firstname" />+
			<input type="text" v-model="middlename" />+
			<input type="text" v-model="lastname"   />=
			<input type="text" v-model="fullname" />
			<p>{{fullname}}</p>
			<p>{{fullname}}</p>
			<p>{{fullname}}</p>
		</div>
		<script>
		   var vm=new Vue({
		   	el:'#app',
		   	data:{
		   		firstname:'',
		   		lastname:'',
		   		middlename:''
		   	},
		   	methods:{
		   		
		   	},
		   	computed:{
		   		'fullname': function(){
		   			console.log('ok')
		   			return this.firstname+'-'+this.middlename+'-'+this.lastname
		   		}
		   	}
		   })
		</script>
	</body>
</html>